<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <form action="user"  >
            {% csrf_token %}
            <label for="Gender">Gender:</label><br>
            <input type="Text" id="Gender" name="Gender"><br>
            <label for="Married">Married:</label><br>
            <input type="Text" id="Married" name="Married"><br>
            <label for="Dependents">Dependents:</label><br>
            <input type="Text" id="Dependents" name="Dependents"><br>
            <label for="Education">Education</label><br>
            <input type="Text" id="Education" name="Education"><br>
            <label for="Self_Employed ">Self_Employed :</label><br>
            <input type="Text " id="Self_Employed " name="Self_Employed"><br>
            <label for="ApplicantIncome">ApplicantIncome:</label><br>
            <input type="Number" id="ApplicantIncome" name="ApplicantIncome"><br>
            <label for="CoapplicantIncome">CoapplicantIncome:</label><br>
            <input type="Number" id="CoapplicantIncome" name="CoapplicantIncome"><br>
            <label for="LoanAmount ">LoanAmount :</label><br>
            <input type="Number " id="LoanAmount " name="LoanAmount"><br>
            <label for="Loan_Amount_Term ">Loan_Amount_Term:</label><br>
            <input type="Number " id="Loan_Amount_Term " name="Loan_Amount_Term"><br>

            <label for="Credit_History ">Credit_History:</label><br>
            <input type="Text " id="Credit_History " name="Credit_History"><br>
            <label for="Property_Area">Property_Area</label><br>
            <input type="Text" id="Property_Area" name="Property_Area"><br>


            <input type="submit" value="Submit">
          </form>
        
    </body>
</html>